/EJBStatelessBean-LibrarySessionBean-Demo/target/
/HelloUser-Demo/target/
/HelloUser-Embeddable-Demo/target/
/EJBStatelessBean-BidService-Demo/target/
/EJBStatelessBean-BidService-Demo/nb-configuration.xml
/chapter3/ActionBazaar-ejb/target/
/EBJStatefulBean-BidderAccount-Demo/EBJStatefulBean-BidderAccount-Demo-ejb/target/
/EBJStatefulBean-BidderAccount-Demo/EBJStatefulBean-BidderAccount-Demo-web/target/
/EBJStatefulBean-BidderAccount-Demo/EBJStatefulBean-BidderAccount-Demo-ear/target/